/* Header Styles */


footer .disclaimer {
}

/* Results Page */
.results {
  margin: 0 auto;
}

.results .results-main {
  font-size: 190px;
  display: flex;
  justify-content: center;
}

.results .results-main .results-icon {
  /* display: inline-block; */
}

.results .results-main .results-pct {
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
}

.results .results-text {
  text-align: center;
  max-width: 380px;
  margin: 20px auto 0;
}



.results .back-button {
  margin-top: 50px;
}

/* Results Page: Input Values Section */
.input-values {
  margin-bottom: 20px;
}

.input-values > div {
  margin-bottom: 20px;
}

/* Center list of tags */
.input-values .field.is-grouped {
  justify-content: center;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .results .results-main {
    font-size: 80px;
  }
}

.results .button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.results .button1 {
  background-color: #af4c65; 
  color: black; 
  
}

.results .button1:hover {
  background-color: grey;
  color: white;
}

.results .button2 {
  background-color:  #af4c65; 
  color: black; 
  
}

.results .button2:hover {
  background-color: grey;
  color: white;
}

.results .button3 {
  background-color:  #af4c65; 
  color: black; 
  
}

.results .button3:hover {
  background-color: grey;
  color: white;
}

